<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GTASAControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GTASAControlPanel.Properties.Settings>
      <setting name="GTAExeVersion" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LockHealth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockArmour" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockFat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockStamina" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockMuscle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockDrivingSkill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockBikingSkill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockCyclingSkill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockFlyingSkill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockLungCapacity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockGamblingSkill" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlayerDamageProtection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>False</string>
            <string>False</string>
            <string>False</string>
            <string>False</string>
          </ArrayOfString>
        </value>
      </setting>
    </GTASAControlPanel.Properties.Settings>
  </userSettings>
</configuration>